#
# Files to ignore.
#

# Python.
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments.
.venv/
venv/

# Testing.
.pytest_cache/
.coverage
coverage.xml

# Build artifacts.
dist/
build/
*.egg-info/

# IDEs.
.vscode/
.idea/

# Downloader output.
Courses/
StudyLibrary/

# Logs.
*.log

CourseLibrary/
